# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.cfg

# other
eclipse
run
libs

src/main/java/keri/*
src/main/java/org/*
src/main/java/javax/*

src/main/resources/assets/jurassicraft/*
src/main/resources/assets/ninetaillib/*
src/main/resources/assets/projectx/*